body {
  font-family: 'Oswald', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

header {
  display: block;
  background: #388C59;
  width: 100%;
  height: 50px;
}

header h1 {
  font: 126pt;
  color: #fff;
  text-shadow: 3px 3px #707070;
}

footer {
  width: 100%;
  font-size: 100%;
  height: 80px;
  padding: 25px 0 5px 0;
  text-align: center;
  background: #388C59;
  color: #000000;
  position: bottom;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.menu-container {
  display: block;
  width: 100%;
  height: 44px;
  background-color: #388C59;
  margin: 0 auto;
  border: 1px solid #000000;
}

nav {
  width: 100%;
  height: 44px;
  color: #388C59;
}

.menu-container{
  display: block;
  width: 100%;
  height: 44px;
  background-color: #388C59;
  margin: 0 0 0 0;
  border: 1px solid #000000;
}

ul {
  margin: 2px 0 22px 17px;
}

ul li {
  list-style-type: circle;
  margin: 0;
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

html body ul.sf-menu ul,
html body ul.sf-menu ul li {
  width: 200px;
}

html body ul.sf-menu ul ul {
  margin: 0 0 0 200px;
}

ul.sf-menu,
ul.sf-menu * {
  margin: 0;
  padding: 0;
}

ul.sf-menu {
  width: 100%;
  background: #388C59;
  display: block;
  position: relative;
}

ul.sf-menu li {
  display: block;
  list-style: none;
  float: left;
  position: relative;
}


ul.sf-menu a {
  display: block;
  position: relative;
}

ul.sf-menu ul {
  position: absolute;
  left: 0;
  width: 150px;
  top: auto;
  left: -999999px;
}

ul.sf-menu ul li {
  float: left;
  width: 150px;
}

ul.sf-menu ul ul {
  top: 0;
  margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,
ul.sf-menu li:focus ul,
ul.sf-menu li.sf-hover ul,
ul.sf-menu ul li:hover ul,
ul.sf-menu ul li:focus ul {
  left: auto;
}

ul#nav {
  float: left;
}

ul#nav ul {
  background: #388C59;
  margin-top: 0;
  border: 1px solid #707070;
}

ul#nav li a {
  padding: 9px 25px 10px 25px;
  font: 155%;
  text-shadow: 1px 1px #707070;
  text-decoration: none;
  color: #fff;
}

ul#nav ul li a {
  color: #fff;
}

ul#nav li a:hover,
ul#nav li a:focus,
ul#nav li.selected {
  background: #52B3E3;
}

ul#nav ul li.list-right {
  right: auto;
}

.main-content-container {
  display: flexbox;
  flex: row;
  width: 100%;
  height: 70%;
}

.content-container {
  display: inline-flex;
  flex-direction: column;
  border-radius: 0px 30px;
  border: 5px solid #388C59;
  width: 40%;
  height: 230px;
  margin: 25px;
  padding: 10px;
  text-align: center;
}

.about-pic{
  display: inline-flex;
  flex-direction: column;
  border: 5px solid #388C59;
  width: 40%;
  height: 300px;
  margin: 12px;
  text-align: center;
}

.about-pic img {
  height:100%;
  width: 100%;
}

.para{
  float: right;
}

.content-container h2 a {
  color: #000000;
}

.content-container h3 a {
  color: #F57A7A;
  text-decoration: underline;
}

.content-container h3 a:hover {
  text-decoration: none;
}
.gallery-content-container {
  display: inline-flex;
  flex-direction: column;
  border: 5px solid #388C59;
  width: 40%;
  height: 300px;
  margin: 12px;
  text-align: center;
}

.round-box{
  display: inline-flex;
  flex-direction: column;
  border: 5px solid #388C59;
  width: 300px;
  height: 300px;
  margin: 12px;
  text-align: center;
}

.round-box div {
  text-align: center;
  padding: 50px;
  color: #388C59;
  font-size: x-large;
}

.gallery-content-container img{
  height: 100%;
  widows: 100%;
}

.fix-bootstrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.mushroom-banner {
  width: 100%;
  height: 300px;
}

.mushroom-banner img{
  width: 100%;
  height: 100%;
}

form {
  padding: 75px;
}



@media only screen and (max-width: 768px) {
  .content-container {
    width: 80%;
    margin: 5%;
    padding: 2%;
    height: 30%;
    border: 3px solid #388C59;
    border-radius: 0 50px;
  }

  .mushroom-banner{
    height: 150px;
  }

  .content-container h2{
    font-size: 1em;
  }

  .content-container p{
    font-size: 0.75em;
  }

  .content-container p a{
    font-size: 0.75em;
  }

  .header-text{
    font-size: 3 em;
  }

  ul {
    margin: 0.5% 0 2% 1%;
  }

  ul li{
    border : 1px solid #707070;
    line-height: 0.5em;
    padding: 0 0 2% 2.5%;
  }

  ul li a{
    font-size: 0.5em;
  }
  

  .gallery-content-container {
    border: 5px solid #388C59;
    width: 75%;
    height: 275px;
    margin: 5px;
    text-align: center;
  }

  .about-pic{
    width: 80%;
    height: 200px;
  }
  
  .about-pic{
    width: 80%;
    height: 40%;
  
  }
}


